<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.generalBook.dao.CollectDao">
    <resultMap id="collectMap" type="edu.nf.generalBook.entity.Collect">
        <id property="coId" column="co_id"/>
        <result property="bId" column="b_id"/>
        <result property="createDate" column="create_date"/>
        <result property="uId" column="u_id"/>
        <association property="commodity">
            <id property="bId" column="b_id"/>
            <result property="bName" column="b_name"/>
            <result property="author" column="author"/>
            <result property="press" column="press"/>
            <result property="notes" column="notes"/>
            <result property="tId" column="t_id"/>
            <result property="issuingDate" column="issuing_date"/>
            <result property="produceDate" column="produce_date"/>
            <result property="picture" column="picture"/>
            <result property="inventory" column="inventory"/>
            <result property="state" column="state"/>
        </association>
        <association property="user">
            <id property="uId" column="u_id"/>
            <result property="uName" column="u_name"/>
            <result property="account" column="account"/>
            <result property="password" column="password"/>
            <result property="sex" column="sex"/>
            <result property="email" column="email"/>
            <result property="photo" column="photo"/>
            <result property="phone" column="phone"/>
            <result property="state" column="state"/>
        </association>
    </resultMap>
    <insert id="addCollect">
        insert into collect(b_id,create_date,u_id) values (#{bId},#{createDate},#{uId})
    </insert>
    <delete id="delCollect">
        delete from collect where co_id = #{id}
    </delete>
    <delete id="delCollectById">
        delete from collect where u_id = #{uid} and b_id = #{bid}
    </delete>
    <select id="listCollect" resultMap="collectMap">
        select co.co_id,co.b_id,co.create_date,co.u_id,c.b_name,c.author,c.press,c.notes,c.issuing_date,c.produce_date,c.picture,u.u_name
        from collect co left join commodity c on co.b_id = c.b_id left join user u on co.u_id = u.u_id
    </select>
    <select id="count">
        select count(*) from collect
    </select>
    <select id="listCollectByUId" resultMap="collectMap">
        select co.co_id,co.b_id,co.create_date,co.u_id,c.b_name,c.author,c.inventory,c.press,c.notes,c.issuing_date,c.produce_date,c.picture,u.u_name
        from collect co left join commodity c on co.b_id = c.b_id left join user u on co.u_id = u.u_id where u.u_id = #{uid}
    </select>

</mapper>