<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.generalBook.dao.CommodityDao">
    <resultMap id="commodityMap" type="edu.nf.generalBook.entity.Commodity">
        <id property="bId" column="b_id"/>
        <result property="bName" column="b_name"/>
        <result property="author" column="author"/>
        <result property="press" column="press"/>
        <result property="notes" column="notes"/>
        <result property="tId" column="t_id"/>
        <result property="issuingDate" column="issuing_date"/>
        <result property="produceDate" column="produce_date"/>
        <result property="picture" column="picture"/>
        <result property="inventory" column="inventory"/>
        <result property="state" column="state"/>
        <association property="types">
            <id property="tId" column="t_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <insert id="addCommodity">
        insert into commodity(b_name,author,press,notes,t_id,issuing_date,produce_date,picture,inventory,state)
        values(#{bName},#{author},#{press},#{notes},#{tId},#{issuingDate},#{produceDate},#{picture},#{inventory},#{state})
    </insert>
    <update id="updCommodity">
       update commodity set b_name = #{bName},author = #{author},press =#{press} ,notes = #{notes},t_id = #{tId} ,issuing_date = #{issuingDate},
                            produce_date = #{produceDate},picture = #{picture},inventory = #{inventory},state = #{state} where b_id = #{bId}
    </update>
    <update id="updCommodityState">
       update commodity set state = #{state} where b_id = #{bId}
    </update>
    <select id="listCommodity" resultMap="commodityMap">
        select c.b_id,c.b_name,c.author,c.press,c.notes,c.t_id,c.issuing_date,c.produce_date,c.picture,c.inventory,c.state,t.name
        from commodity c join types t on c.t_id = t.t_id
    </select>
    <select id="count">
        select count(*) from commodity
    </select>
    <select id="commodityList" resultMap="commodityMap">
        select c.b_id,c.b_name,c.author,c.press,c.notes,c.t_id,c.issuing_date,c.produce_date,c.picture,c.inventory,c.state,t.name
        from commodity c join types t on c.t_id = t.t_id
    </select>
    <select id="listCommodityByType" resultMap="commodityMap">
        select c.b_id,c.b_name,c.author,c.press,c.notes,c.t_id,c.issuing_date,c.produce_date,c.picture,c.inventory,c.state,t.name
        from commodity c join types t on c.t_id = t.t_id where c.t_id = #{tid}
    </select>
    <select id="countByType">
        select count(*) from commodity where t_id = #{tid}
    </select>
    <select id="listCommodityById" resultMap="commodityMap">
        select c.b_id,c.b_name,c.author,c.press,c.notes,c.t_id,c.issuing_date,c.produce_date,c.picture,c.inventory,c.state,t.name
        from commodity c join types t on c.t_id = t.t_id where c.b_id = #{bid}
    </select>

</mapper>