<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.generalBook.dao.NoticeDao">
    <resultMap id="NoticeMap" type="edu.nf.generalBook.entity.Notice">
        <id property="nId" column="n_id"/>
        <result property="title" column="title"/>
        <result property="introduce" column="introduce"/>
        <result property="details" column="details"/>
        <result property="releaseDate" column="release_date"/>
    </resultMap>
    <insert id="addNotice">
        insert into notice(title,introduce,details,release_date) values (#{title},#{introduce}, #{details}, #{releaseDate})
    </insert>
    <delete id="delNotice">
        delete from notice where n_id = #{id}
    </delete>
    <select id="listNotice" resultMap="NoticeMap">
        select n_id,title,introduce,details,release_date from notice
    </select>
    <select id="count" >
        select count(*) from notice
    </select>
    <select id="noticeList" resultMap="NoticeMap">
        select n_id,title,introduce,details,release_date from notice
    </select>

</mapper>