<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.generalbook.dao.NoticeDao">
    <resultMap id="NoticeMap" type="edu.nf.generalbook.entity.Notice">
        <id property="nId" column="n_id"/>
        <result property="title" column="title"/>
        <result property="introduce" column="introduce"/>
        <result property="details" column="details"/>
        <result property="date" column="date"/>
    </resultMap>

</mapper>