<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.generalBook.dao.UserDao">
    <resultMap id="userMap" type="edu.nf.generalBook.entity.User">
        <id property="uId" column="u_id"/>
        <result property="uName" column="u_name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="photo" column="photo"/>
        <result property="phone" column="phone"/>
        <result property="state" column="state"/>
    </resultMap>


    <insert id="addUser">
        insert into user(u_name,account,password,sex,email,photo,phone,state) values (#{uName},#{account},#{password},#{sex},#{email},#{photo},#{phone},#{state})
    </insert>
    <update id="updUser">
        update user set u_name = #{uName},account = #{account} ,password = #{password},sex = #{sex},email = #{email},photo = #{photo},phone = #{phone} where u_id = #{uId}
    </update>
    <update id="updUserState">
        update user set state = #{state} where u_id = #{uId}
    </update>
    <select id="listUser" resultMap="userMap">
        select u_id,u_name,account,password,sex,email,photo,phone,state from user
    </select>
    <select id="count">
        select count(*) from user
    </select>
    <select id="loginUser" resultMap="userMap">
        select u_id,u_name,account,password,sex,email,photo,phone,state from user where account = #{account}
    </select>
    <select id="userList" resultMap="userMap">
        select u_id,u_name,account,password,sex,email,photo,phone,state from user
    </select>

</mapper>