<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!-- vue -->
    <script src="js/vue.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui@2.15.13.js"></script>
</head>
<body>
<div id="app">
    <el-row type="flex" class="row-bg" justify="center">
        <el-col :span="6" :offset="3">
            <h1>欢迎登录</h1>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="6" :offset="8">
            <!-- el-form：表单 -->
            <!-- ref="ruleForm"：添加引用名 ruleForm ，这样可以通过 this.$refs.ruleForm 获取这个组件的对象 -->
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px"
                     class="demo-ruleForm">
                <!-- el-form-item：表单域，表单域中可以放置各种类型的表单控件 -->
                <!-- label="用户名"：标签文本为 用户名 -->
                <!--  prop="name"：用于表单提交时，表示 name 对应 它里面的数据 -->
                <el-form-item label="账号" prop="name">
                    <!-- maxlength="15"：限制长度为15 -->
                    <!-- show-word-limit：展示字数统计 -->
                    <el-input maxlength="20" show-word-limit v-model="ruleForm.account"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <!-- v-model="ruleForm.pass"：和vue的 ruleForm.pass 值判定 -->
                    <!-- autocomplete="off" ：关闭自动填入 -->
                    <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')" style="width: 100%;">密码登录
                    </el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
    <el-row type="flex" class="row-bg">
        <el-col :span="3" :offset="10">
            <el-link :underline="false" href="loginMail.html" type="primary">邮箱登录</el-link>
        </el-col>
        <el-col :span="6">
            <el-link :underline="false" href="register.html" type="primary">注册</el-link>
        </el-col>
    </el-row>
</div>
</body>

<script type="text/javascript">
    const vue = new Vue({
        el: "#app",
        data() {
            var checkName = (rule, value, callback) => {
                if (!value) {
                    callback(new Error('账号不能为空'));
                }
                callback();
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                }
                    callback();
            };
            return {
                // 表单绑定的值
                ruleForm: {
                    account: '',
                    password: ''
                },
                // 	表单验证规则
                rules: {
                    // 对应的值
                    account: [{
                        // 对应的验证方法
                        validator: checkName,
                        // 触发条件 "blur"，意思是在用户离开该表单项时进行验证
                        trigger: 'blur'
                    }],
                    password: [{
                        validator: validatePass,
                        trigger: 'blur'
                    }],
                }
            };
        },
        methods: {
            submitForm(formName) {
                // 通过 this.$refs.ruleForm.validate 获取这个组件的对象并调用 validate 方法
                // validate 方法会自动触发每个表单项的校验规则进行验证，
                // 返回一个布尔值，表示是否验证通过。在回调函数中根据验证结果进行相应的处理。
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        // 去后端发起登录请求
                        $.ajax({
                            url: "login",
                            dataType:"JSON",
                            type:"POST",
                            data: {
                                account: this.ruleForm.account,
                                password: this.ruleForm.password
                            },
                            success(result) {
                                //保存数据
                                sessionStorage.setItem('name',result.name);
                                sessionStorage.setItem('account',result.account);
                                sessionStorage.setItem('sex',result.sex);
                                sessionStorage.setItem('email',result.email);
                                sessionStorage.setItem('photo',result.photo);
                                sessionStorage.setItem('phone',result.phone);
                                location.href = 'index.html';
                            },
                            error() {
                                vue.$message.error("账号或者密码有误");
                            }
                        });
                    } else {
                        console.log('输入错误');
                        return false;
                    }
                });
            },
        }
    })
</script>
</html>
