<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>通知管理</title>
    <!-- vue -->
    <script src="js/vue.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui@2.15.13.js"></script>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/layui.js"></script>
</head>
<body>
<!-- 搜索表单开始 -->
<form class="layui-form">
    <div class="layui-inline">
        <label class="layui-form-label">查询条件</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="name" style="width: 400px;"  placeholder="请输入商品名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <input type="button" id="selectBtn" class="layui-btn" data-type="reload" value="查询">
    </div>
    <div class="layui-inline">
        <input type="button" id="addBtn" class="layui-btn" data-type="reload" value="发布新通知">
    </div>
</form>

<!-- 添加表单开始 -->
<div id="app" style="display: none">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">

        <el-form-item label="标题：" prop="title">
            <el-input v-model="ruleForm.title"></el-input>
        </el-form-item>
        <el-form-item label="简介：" prop="introduce">
            <el-input v-model="ruleForm.introduce"></el-input>
        </el-form-item>
        <el-form-item label="详细内容：" prop="details">
            <el-input v-model="ruleForm.details"></el-input>
        </el-form-item>
        <div class="layui-form-item">
            <div class="layui-input-group">
                <div class="layui-input-split layui-input-prefix">
                    发行日期：
                </div>
                <input type="text" v-model="ruleForm.releaseDate" class="layui-input">
            </div>
        </div>

    </el-form>

</div>

<table id="table_data"></table>

<!-- 操作工具条件开始 -->

</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                ruleForm: {
                    nid: '',
                    title:'',
                    introduce:'',
                    details:'',
                    releaseDate:''
                },
            }
        }
    });
    // 加载 table 模块
    layui.use( ['jquery', 'layer', 'form','table'],function(){

        // 实例化动态表格的实例对象
        let $ = layui.jquery;
        let table = layui.table;
        let layer = layui.layer;
        let form = layui.form;


        // 定义动态表格相关的参数
        table.render({
            elem: '#table_data'
            ,url:'/listNotice'
            ,page: true 	// 开启分页
            ,limit:5
            ,limits:[5,10,20]
            ,cols:[[
                // {field: '实体对象的属性名称', title: '列头显示内容', width:宽, sort: 是否排序, fixed: '定位'}
                {field: 'nid', title: '通知ID',  fixed: 'left'}
                ,{field: 'title', title: '标题', fixed: 'left'}
                ,{field: 'introduce', title: '简介', fixed: 'left'}
                ,{field: 'details', title: '详细内容', fixed: 'left'}
                ,{field: 'releaseDate', title: '发布时间', fixed: 'left'}
                ,{title: '操作', fixed: 'left',templet:function (){
                        return ' <button  class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>'
                    }}
            ]]
            // 把后台数据转换为layui中table组件所要求的数据格式
            ,parseData:function( res ) {
                return {
                    "code":res.code==200?0:'-1',
                    "data":res.data,
                    "count":res.count
                };
            }
        });

        // 绑定查询按钮
        $('#selectBtn').on('click', function () {
            if ($('#name').val() != null && $('#name').val() != ""){
                // 重新渲染动态表格相关的参数
                table.render({
                    elem: '#table_data'
                    ,url: "/selectTypes"
                    ,where: {
                        // 在这里设置额外的参数
                        // 例如，传递一个名为 'param' 的参数，值为输入框中的值
                        param: $('#name').val()
                    }
                    ,page: true 	// 开启分页
                    ,limit:5
                    ,limits:[5,10,20]
                    ,cols:[[
                        // {field: '实体对象的属性名称', title: '列头显示内容', width:宽, sort: 是否排序, fixed: '定位'}
                        {field: 'tid', title: '类型ID',  fixed: 'left'}
                        ,{field: 'name', title: '名称', fixed: 'left'}
                        ,{title: '操作', fixed: 'left',templet:function (){
                                return ' <button  class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>'
                            }}
                    ]]
                    // 把后台数据转换为layui中table组件所要求的数据格式
                    ,parseData:function( res ) {
                        return {
                            "code":res.code==200?0:'-1',
                            "data":res.data,
                            "count":res.count
                        };
                    }
                });
            }else {
                location.href = 'notice.html';
            }
        });

        // 监听表格操作按钮
        table.on('tool',function (obj){
            console.log(obj) ;
            if(obj.event=='delete') {
                let p = obj.data ;
                // 弹出确认框
                layer.confirm("您确认删除此通知吗？",function( index ){
                    // 向服务器发起异步请求，实现数据的删除
                    $.ajax({
                        url:'/delNotice',
                        method:'POST',
                        data:{'nid':p.nid},
                        success:function( res ){
                            // 弹出提示框
                            layer.msg("删除成功")
                            // 根据弹出层的索引，关闭弹出确认框
                            layer.close(index) ;
                            // 重新加载表格数据
                            table.reload('table_data',{page:{curr:1}});
                        }
                    }) ;
                }) ;
            }
        });

        //清空添加表单数据方法
        let deladd = function (){
            app.ruleForm={
                nid: '',
                title:'',
                introduce:'',
                details:'',
                releaseDate:''
            }
            document.getElementById('ins-laydate-demo').value = '';
        }

        // 实现添加类型操作
        $("#addBtn").click(function () {
            layer.open({
                type: 1,
                title: '发布新通知',
                area: ['50%', '35em'],
                resize: false,
                content: $("#app"),
                btn: ['添加', '取消'],
                btn1: function (index) {
                    $.ajax({
                        url: '/addNotice',
                        method: 'post',
                        data: {
                            title:app.ruleForm.title,
                            introduce:app.ruleForm.introduce,
                            details:app.ruleForm.details,
                            releaseDate:app.ruleForm.releaseDate
                        },
                        success: function (res) {
                            // 弹出提示框
                            layer.msg("添加成功")
                            // 根据弹出层的索引，关闭弹出确认框
                            layer.close(index);
                            // 重新加载表格数据
                            table.reload('table_data', {page: {curr: 1}});
                        }
                    });
                },
                btn2: function (){
                    //清空添加表单数据
                    deladd()
                },
                cancel: function (){
                    //清空添加表单数据
                    deladd()
                }
            });
        })


    }) ;
</script>