<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单管理</title>
    <!-- vue -->
    <script src="js/vue.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui@2.15.13.js"></script>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/layui.js"></script>
</head>
<body>
<!-- 搜索表单开始 -->
<form class="layui-form">
    <div class="layui-inline">
        <label class="layui-form-label">查询条件</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="name" style="width: 400px;"  placeholder="请输入商品名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <input type="button" id="selectBtn" class="layui-btn" data-type="reload" value="查询">
    </div>
    <div class="layui-inline">
        <input type="button" id="addBtn" class="layui-btn" data-type="reload" value="添加">
    </div>
</form>

<div id="app" style="display: none">
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                订单号：
            </div>
            <input type="text" v-model="ruleForm.orderId" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                商品id：
            </div>
            <input type="text" v-model="ruleForm.bid" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                数量：
            </div>
            <input type="text" v-model="ruleForm.number" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                单价：
            </div>
            <input type="text" v-model="ruleForm.unitPrice" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                总价：
            </div>
            <input type="text" v-model="ruleForm.totalPrice" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                实付金额：
            </div>
            <input type="text" v-model="ruleForm.money" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                用户id：
            </div>
            <input type="text" v-model="ruleForm.uid" class="layui-input">
        </div>
    </div>
</div>

<table id="table_data"></table>

<!-- 操作工具条件开始 -->

</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                ruleForm: {
                    oid: '',
                    orderId:'',
                    bid:'',
                    number:'',
                    unitPrice:'',
                    totalPrice:'',
                    money: '',
                    uid:'',
                },
            }
        },
    });

    // 加载 table 模块
    layui.use( ['jquery', 'layer', 'form','table','laydate'],function(){

        // 实例化动态表格的实例对象
        let $ = layui.jquery;
        let table = layui.table;
        let layer = layui.layer;
        let form = layui.form;


        // 定义动态表格相关的参数
        table.render({
            elem: '#table_data'
            ,url:'/listOrderGoods'
            ,page: true 	// 开启分页
            ,limit:5
            ,limits:[5,10,20]
            ,cols:[[
                // {field: '实体对象的属性名称', title: '列头显示内容', width:宽, sort: 是否排序, fixed: '定位'}
                {field: 'oid', title: 'ID',  fixed: 'left'}
                ,{field: 'orderId', title: '订单号', fixed: 'left'}
                ,{field: 'bname', title: '商品名称', fixed: 'left'}
                ,{field: 'number', title: '数量', fixed: 'left'}
                ,{field: 'unitPrice', title: '单价', fixed: 'left'}
                ,{field: 'totalPrice', title: '总价', fixed: 'left'}
                ,{field: 'money', title: '实付金额', fixed: 'left'}
                ,{field: 'uname', title: '买家', fixed: 'left'}
                ,{field: 'createDate', title: '付款时间', fixed: 'left',width: 200}
                ,{field: 'state', title: '状态', fixed: 'left'}
                ,{title: '操作', fixed: 'left',templet:function (){
                        return ' <button  class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>'
                    }}
            ]]
            // 把后台数据转换为layui中table组件所要求的数据格式
            ,parseData:function( res ) {
                var processedData = res.data.map(function(item) {
                    return {
                        oid: item.oid,
                        orderId:item.orderId,
                        bname: item.commodity.bname,
                        number: item.number,
                        unitPrice: item.unitPrice,
                        totalPrice: item.totalPrice,
                        money: item.money,
                        uname: item.user.uname,
                        createDate: item.createDate,
                        state: item.state,
                        bid: item.bid,
                        uid:item.uid
                        // 其他字段根据需要添加
                    };
                })
                return {
                    "code":res.code==200?0:'-1',
                    "data":processedData,
                    "count":res.count
                };
            }
        });

        // 绑定查询按钮
        $('#selectBtn').on('click', function () {
            if ($('#name').val() != null && $('#name').val() != ""){
                // 重新渲染动态表格相关的参数
                table.render({
                    elem: '#table_data'
                    ,url: "/selectTypes"
                    ,where: {
                        // 在这里设置额外的参数
                        // 例如，传递一个名为 'param' 的参数，值为输入框中的值
                        param: $('#name').val()
                    }
                    ,page: true 	// 开启分页
                    ,limit:5
                    ,limits:[5,10,20]
                    ,cols:[[
                        // {field: '实体对象的属性名称', title: '列头显示内容', width:宽, sort: 是否排序, fixed: '定位'}
                        {field: 'tid', title: '类型ID',  fixed: 'left'}
                        ,{field: 'name', title: '名称', fixed: 'left'}
                        ,{title: '操作', fixed: 'left',templet:function (){
                                return ' <button  class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>'
                            }}
                    ]]
                    // 把后台数据转换为layui中table组件所要求的数据格式
                    ,parseData:function( res ) {
                        return {
                            "code":res.code==200?0:'-1',
                            "data":res.data,
                            "count":res.count
                        };
                    }
                });
            }else {
                location.href = 'notice.html';
            }
        });

        // 监听表格操作按钮
        table.on('tool',function (obj){
            console.log(obj) ;
            if(obj.event=='delete') {
                let p = obj.data ;
                // 弹出确认框
                layer.confirm("您确认删除此条订单吗？",function( index ){
                    // 向服务器发起异步请求，实现数据的删除
                    $.ajax({
                        url:'/delOrderGoods',
                        method:'POST',
                        data:{'oid':p.oid},
                        success:function( res ){
                            // 弹出提示框
                            layer.msg("删除成功")
                            // 根据弹出层的索引，关闭弹出确认框
                            layer.close(index) ;
                            // 重新加载表格数据
                            table.reload('table_data',{page:{curr:1}});
                        }
                    }) ;
                }) ;
            }
        });

        //清空添加表单数据方法
        let deladd = function (){
            app.ruleForm={
                oid: '',
                orderId:'',
                bid:'',
                number:'',
                unitPrice:'',
                totalPrice:'',
                money: '',
                uid:'',
            }
        }

        // 实现添加类型操作
        $("#addBtn").click(function () {
            layer.open({
                type: 1,
                title: '添加商家信息',
                area: ['50%', '35em'],
                resize: false,
                content: $("#app"),
                btn: ['添加', '取消'],
                btn1: function (index) {
                    $.ajax({
                        url: '/addOrderGoods',
                        method: 'post',
                        data: {
                            orderId: app.ruleForm.orderId,
                            bid:app.ruleForm.bid,
                            number:app.ruleForm.number,
                            unitPrice:app.ruleForm.unitPrice,
                            totalPrice:app.ruleForm.totalPrice,
                            money: app.ruleForm.money,
                            uid:app.ruleForm.uid,
                        },
                        success: function (res) {
                            // 弹出提示框
                            layer.msg("添加成功")
                            // 根据弹出层的索引，关闭弹出确认框
                            layer.close(index);
                            //清空添加表单数据
                            deladd()
                            // 重新加载表格数据
                            table.reload('table_data', {page: {curr: 1}});
                        }
                    });
                },
                btn2: function (){
                    //清空添加表单数据
                    deladd()
                },
                cancel: function (){
                    //清空添加表单数据
                    deladd()
                }
            });
        })


    }) ;
</script>