<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <!-- vue -->
    <script src="js/vue.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui@2.15.13.js"></script>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/layui.js"></script>
</head>
<body>
<div id="app">
        <div class="layui-form-item">
            <label class="layui-form-label">选择数据：</label>
            <div class="layui-input-inline">
                <select v-model="selectedValue" lay-search lay-filter="dataSelect">
                    <option v-for="item in data" :key="item.tid" :value="item.tid">{{ item.name }}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <p v-if="selectedValue">选择的数据是：{{ selectedValue }}</p>
                <p v-else>请选择数据</p>
            </div>
        </div>
</div>
</body>
</html>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            data: [],           // 存储从后台获取的数据
            selectedValue: ''   // 存储选择的值
        },
        mounted() {
            let that = this;
            $.ajax({
                url:'/typesList',
                method:'GET',
                success:function( res ){

                    that.data = res.data;
                    console.log(that.data)
                }
            }) ;
        },
    });

    // 初始化layui
    layui.use('form', function() {
        var form = layui.form;
        // 单独渲染选择框
        form.render('select');
    });
</script>