<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div id="app">
    <h1>User Registration</h1>

    <form @submit.prevent="registerUser" enctype="multipart/form-data">

        name<input type="text" v-model="user.name" required>
        <br>


        account<input type="text" v-model="user.account" required>
        <br>


        password<input type="password" v-model="user.password" required>
        <br>


        sex<select v-model="user.sex" required>
            <option value="男">男</option>
            <option value="男">女</option>
        </select>
        <br>


        email<input type="email" v-model="user.email" required>
        <br>


       phone <input type="tel" v-model="user.phone" required>
        <br>

        img<input type="file" v-on:change="handleFileChange" multiple>
        <br>

        <button type="submit">Register</button>
    </form>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                name: '2',
                account: '2',
                password: '2',
                sex: '男',
                email: '2@qq.com',
                phone: '2',
                image: null,
            },
        },
        methods: {
            handleFileChange(event) {
                this.user.image = event.target.files[0];
                console.log(this.user.image)
            },
            registerUser() {
                var formData = new FormData();
                formData.append('name', this.user.name);
                formData.append('account', this.user.account);
                formData.append('password', this.user.password);
                formData.append('sex', this.user.sex);
                formData.append('email', this.user.email);
                formData.append('phone', this.user.phone);
                formData.append('image', this.user.image);
                // 使用 jQuery 的 ajax 方法发送异步请求
                $.ajax({
                    url: '/images/upload',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function () {
                        console.log('User registered successfully!');
                    },
                    error: function () {
                        console.error('User registration failed.');
                    }
                });
            }
        }
    });
</script>

</body>
</html>