<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品列表</title>
    <!-- vue -->
    <script src="js/vue.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui@2.15.13.js"></script>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="js/layui.js"></script>
</head>
<style>
    @import url("//unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css");
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
</style>
<body>
<!-- 搜索表单开始 -->
<form class="layui-form">
    <div class="layui-inline">
        <label class="layui-form-label">查询条件</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="name" style="width: 400px;"  placeholder="请输入商品名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <input type="button" id="selectBtn" class="layui-btn" data-type="reload" value="查询">
    </div>
    <div class="layui-inline">
        <input type="button" id="addBtn" class="layui-btn" data-type="reload" value="添加">
    </div>
</form>

<!--修改表单开始-->
<div id="app" style="display: none">

    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                商品名称：
            </div>
            <input type="text" v-model="ruleForm.bname" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                作者：
            </div>
            <input type="text" v-model="ruleForm.author" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                出版社：
            </div>
            <input type="text" v-model="ruleForm.press"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                简介：
            </div>
            <input type="text" v-model="ruleForm.notes" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                商品类型：
            </div>
            <div>
                <select  style="width: 100px;height: 35px;border: #c9c5c5 1px solid" v-model="ruleForm.tid">
                    <option v-for="item in typeData" :key="item.tid" :value="item.tid">{{ item.name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                发行日期：
            </div>
            <input type="text" v-model="ruleForm.issuingDate" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">生产日期：</label>
            <div class="layui-input-inline">
                <input  type="text" class="layui-input" :value="ruleForm.produceDate" id="ID-laydate-demo" placeholder="yyyy-MM-dd">
            </div>
        </div>
    </div>

    <el-form ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="图片：">
            <el-upload
                    class="avatar-uploader"
                    action="/upload"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload">
                <img v-if="ruleForm.picture" :src="ruleForm.picture"  class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
        </el-form-item>
    </el-form>

    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                库存：
            </div>
            <input type="text" v-model="ruleForm.inventory" class="layui-input">
        </div>
    </div>

</div>
<!--添加表单开始-->
<div id="ins" style="display: none">

    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                商品名称：
            </div>
            <input type="text" v-model="ins.bname" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                作者：
            </div>
            <input type="text" v-model="ins.author" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                出版社：
            </div>
            <input type="text" v-model="ins.press"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                简介：
            </div>
            <input type="text" v-model="ins.notes" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                商品类型：
            </div>
            <div>
                <select  style="width: 100px;height: 35px;border: #c9c5c5 1px solid" v-model="ins.tid">
                    <option v-for="item in typeData" :key="item.tid" :value="item.tid">{{ item.name }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                发行日期：
            </div>
            <input type="text" v-model="ins.issuingDate" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">生产日期：</label>
            <div class="layui-input-inline">
                <input  type="text" class="layui-input"  id="ins-laydate-demo" placeholder="yyyy-MM-dd">
            </div>
        </div>
    </div>

    <el-form ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="图片：">
            <el-upload
                    class="avatar-uploader"
                    action="/upload"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload">
                <img v-if="ins.picture" :src="ins.picture"  class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
        </el-form-item>
    </el-form>

    <div class="layui-form-item">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix">
                库存：
            </div>
            <input type="text" v-model="ins.inventory" class="layui-input">
        </div>
    </div>

</div>

<table id="table_data"></table>

<!-- 操作工具条件开始 -->

</body>
</html>
<script>
    //修改功能使用的vue
    var app = new Vue({
        el: '#app',
        data() {
            return {
                ruleForm: {
                    bname: '',
                    author: '',
                    press: '',
                    notes: '',
                    typeName: '',
                    tid:'',
                    issuingDate: '',
                    produceDate: '',
                    picture:'',
                    inventory:'',
                },
                typeData: [],
            };
        },
        mounted() {
            let that = this;
            $.ajax({
                url:'/typesList',
                method:'GET',
                success:function( res ){
                    that.typeData = res.data;
                    console.log(that.typeData)
                }
            }) ;
        },
        methods:{
            beforeAvatarUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 5;

                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 5MB!');
                }
                return isLt2M;
            },
            handleAvatarSuccess(res, file) {
                this.ruleForm.picture = res; // 假设后端返回的是图片的访问路径
            },
        }
    });

    //添加功能使用的vue
    var add = new Vue({
        el: '#ins',
        data() {
            return {
                ins: {
                    bname: '',
                    author: '',
                    press: '',
                    notes: '',
                    typeName: '',
                    tid:'',
                    issuingDate: '',
                    produceDate: '',
                    picture:'',
                    inventory:'',
                },
                typeData: [],
            };
        },
        mounted() {
            let that = this;
            $.ajax({
                url:'/typesList',
                method:'GET',
                success:function( res ){
                    that.typeData = res.data;
                    console.log(that.typeData)
                }
            }) ;
        },
        methods:{
            beforeAvatarUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 5;

                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 5MB!');
                }
                return isLt2M;
            },
            handleAvatarSuccess(res, file) {
                this.ins.picture = res; // 假设后端返回的是图片的访问路径
            },
        }
    });

    // 加载 table 模块
    layui.use( ['jquery', 'layer', 'form','table','laydate'],function(){

        // 实例化动态表格的实例对象
        let laydate = layui.laydate;
        let $ = layui.jquery;
        let table = layui.table;
        let layer = layui.layer;
        let form = layui.form;
        //渲染修改功能日期组件
        laydate.render({
            elem: '#ID-laydate-demo',
        });
        //渲染添加功能日期组件
        laydate.render({
            elem: '#ins-laydate-demo'
        })

        // 定义动态表格相关的参数
        table.render({
            elem: '#table_data'
            ,url:'/listCommodity'
            ,page: true 	// 开启分页
            ,limit:5
            ,limits:[5,10,20]
            ,cols:[[
                // {field: '实体对象的属性名称', title: '列头显示内容', width:宽, sort: 是否排序, fixed: '定位'}
                {field: 'bid', title: '商品ID',  fixed: 'left'}
                ,{field: 'bname', title: '商品名称', fixed: 'left'}
                ,{field: 'author', title: '作者',  fixed: 'left'}
                ,{field: 'press', title: '出版社',  fixed: 'left'}
                ,{field: 'notes', title: '简介', fixed: 'left'}
                ,{field: 'typeName', title: '类型',  fixed: 'left'}
                ,{field: 'issuingDate', title: '发行时间', fixed: 'left'}
                ,{field: 'produceDate', title: '生产日期',  fixed: 'left'}
                ,{field: 'picture', title: '图片',  fixed: 'left'}
                ,{field: 'inventory', title: '库存',  fixed: 'left'}
                ,{field: 'state', title: '状态',  fixed: 'left',templet:function(row){
                        // console.log(row)
                        if(row.state==1) {
                            return '售卖中';
                        } else {
                            return '下架中';
                        }
                    }}
                ,{title: '操作', fixed: 'left',templet:function (row){
                        if (row.state ==='1'){
                            return ' <button  class="layui-btn layui-btn-xs layui-btn-danger" lay-event="state">下架</button>' +
                                '<button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">编辑</button>'
                        }
                        else {
                            return '<button class="layui-btn layui-btn-xs" lay-event="state">上架</button>' +
                                '<button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">编辑</button>'
                        }
                    }}
            ]]
            // 把后台数据转换为layui中table组件所要求的数据格式
            ,parseData:function( res ) {
                var processedData = res.data.map(function(item) {
                    return {
                        bid: item.bid,
                        bname: item.bname,
                        author: item.author,
                        press: item.press,
                        notes: item.notes,
                        typeName: item.types.name,
                        issuingDate: item.issuingDate,
                        produceDate: item.produceDate,
                        picture: item.picture,
                        inventory: item.inventory,
                        state: item.state,
                        tid: item.tid,
                        // 其他字段根据需要添加
                    };
                })
                return {
                    "code":res.code==200?0:'-1',
                    "data":processedData,
                    "count":res.count
                };
            }
        });

        // 绑定查询按钮
        $('#selectBtn').on('click', function () {
            if ($('#name').val() != null && $('#name').val() != ""){
                // 重新渲染动态表格相关的参数
                table.render({
                    elem: '#table_data'
                    ,url: "/selectUser"
                    ,where: {
                        // 在这里设置额外的参数
                        // 例如，传递一个名为 'param' 的参数，值为输入框中的值
                        param: $('#name').val()
                    }
                    ,page: true 	// 开启分页
                    ,limit:5
                    ,limits:[5,10,20]
                    ,cols:[[
                        // {field: '实体对象的属性名称', title: '列头显示内容', width:宽, sort: 是否排序, fixed: '定位'}
                        {field: 'bid', title: '商品ID',  fixed: 'left'}
                        ,{field: 'bname', title: '商品名称', fixed: 'left'}
                        ,{field: 'author', title: '作者',  fixed: 'left'}
                        ,{field: 'press', title: '出版社',  fixed: 'left'}
                        ,{field: 'notes', title: '简介', fixed: 'left'}
                        ,{field: 'typeName', title: '类型',  fixed: 'left'}
                        ,{field: 'issuingDate', title: '发行时间', fixed: 'left'}
                        ,{field: 'produceDate', title: '生产日期',  fixed: 'left'}
                        ,{field: 'picture', title: '图片',  fixed: 'left'}
                        ,{field: 'inventory', title: '库存',  fixed: 'left'}
                        ,{field: 'state', title: '状态',  fixed: 'left',templet:function(row){
                                // console.log(row)
                                if(row.state==1) {
                                    return '售卖中';
                                } else {
                                    return '下架中';
                                }
                            }}
                        ,{title: '操作', fixed: 'left',templet:function (row){
                                if (row.state ==='1'){
                                    return ' <button  class="layui-btn layui-btn-xs layui-btn-danger" lay-event="state">下架</button>' +
                                        '<button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">编辑</button>'
                                }
                                else {
                                    return '<button class="layui-btn layui-btn-xs" lay-event="state">上架</button>' +
                                        '<button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="update">编辑</button>'
                                }
                            }}
                    ]]
                    // 把后台数据转换为layui中table组件所要求的数据格式
                    ,parseData:function( res ) {
                        var processedData = res.data.map(function(item) {
                            return {
                                bid: item.bid,
                                bname: item.bname,
                                author: item.author,
                                press: item.press,
                                notes: item.notes,
                                typeName: item.types.name,
                                issuingDate: item.issuingDate,
                                produceDate: item.produceDate,
                                picture: item.picture,
                                inventory: item.inventory,
                                state: item.state,
                                tid: item.tid,
                                // 其他字段根据需要添加
                            };
                        })
                        return {
                            "code":res.code==200?0:'-1',
                            "data":processedData,
                            "count":res.count
                        };
                    }
                });
            }else {
                location.href = 'commodity.html';
            }
        });

        // 监听表格操作按钮
        table.on('tool',function (obj){
            console.log(obj) ;
            if(obj.event=='state') {
                // 获取当前行的数据
                let p = obj.data ;
                let state =  obj.data.state == 1 ? '0' : '1';

                // 弹出确认框
                layer.confirm("您确认更改此商品的状态吗？",function( index ){
                    // 向服务器发起异步请求，实现数据的删除
                    $.ajax({
                        url:'/updCommodityState',
                        method:'get',
                        data:{'bId':p.bid,'state' : state},
                        success:function( res ){
                            // 弹出提示框
                            layer.msg("修改成功")
                            // 根据弹出层的索引，关闭弹出确认框
                            layer.close(index) ;
                            // 重新加载表格数据
                            table.reload('table_data',{page:{curr:1}});
                        }
                    }) ;
                }) ;

            } else if(obj.event=='update') {
                // 第一：获取当前行的数据
                let p = obj.data ;
                console.log(p) ;
                app.ruleForm = {
                    bid: p.bid,
                    bname: p.bname,
                    author: p.author,
                    press: p.press,
                    notes: p.notes,
                    typeName: p.typeName,
                    issuingDate: p.issuingDate,
                    produceDate: p.produceDate,
                    picture: p.picture,
                    inventory: p.inventory,
                    tid: p.tid,
                };

                // 第二：弹出修改窗体，并把当前行的数据回显在页面中
                // 1.把数据设置在修改表单中
                // 2.弹出窗体
                layer.open({
                    type:1,
                    title:'修改商品',
                    area:['50%','35em'],
                    resize:false,
                    content:$("#app"),
                    btn:['修改','取消'],
                    btn1:function( index ) {
                        $.ajax({
                            url:'/updCommodity',
                            method:'POST',
                            data:{
                                bId: p.bid,
                                bname: app.ruleForm.bname,
                                author: app.ruleForm.author,
                                press: app.ruleForm.press,
                                notes: app.ruleForm.notes,
                                tId: app.ruleForm.tid,
                                issuingDate: app.ruleForm.issuingDate,
                                produceDate: $('#ID-laydate-demo').val(),
                                picture: app.ruleForm.picture,
                                inventory: app.ruleForm.inventory,

                            },
                            success:function( res ){
                                // 弹出提示框
                                layer.msg("修改成功")
                                // 根据弹出层的索引，关闭弹出确认框
                                layer.close(index) ;
                                // 重新加载表格数据
                                table.reload('table_data',{page:{curr:1}});
                            }
                        }) ;
                    }
                }) ;
            }
        });

        //清空添加表单数据方法
        let deladd = function (){
            add.ins={
                bname: '',
                author: '',
                press: '',
                notes: '',
                typeName: '',
                tid:'',
                issuingDate: '',
                produceDate: '',
                picture:'',
                inventory:'',
            }
            document.getElementById('ins-laydate-demo').value = '';
        }

        // 实现添加操作
        $("#addBtn").click(function () {
            layer.open({
                type: 1,
                title: '添加商品',
                area: ['50%', '35em'],
                resize: false,
                content: $("#ins"),
                btn: ['添加', '取消'],
                btn1: function (index) {
                    $.ajax({
                        url: '/addCommodity',
                        method: 'post',
                        data: {
                            bname: add.ins.bname,
                            author: add.ins.author,
                            press: add.ins.press,
                            notes: add.ins.notes,
                            tId: add.ins.tid,
                            issuingDate:add.ins.issuingDate,
                            produceDate: $('#ins-laydate-demo').val(),
                            picture: add.ins.picture,
                            inventory: add.ins.inventory,
                        },
                        success: function (res) {
                            // 弹出提示框
                            layer.msg("添加成功")
                            // 根据弹出层的索引，关闭弹出确认框
                            layer.close(index);
                            //清空添加表单数据
                            deladd()
                            // 重新加载表格数据
                            table.reload('table_data', {page: {curr: 1}});
                        }
                    });
                },
                btn2: function (){
                    //清空添加表单数据
                  deladd()
                },
                cancel: function (){
                    //清空添加表单数据
                  deladd()
                }
            });
        })
    }) ;
</script>